<ion-view title="Alculator" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="alculator-button-bar1" class=" button-bar ">
            <a ui-sref="login" id="alculator-button4" class=" button button-positive  button-block icon ion-ios-home ">Home</a>
            <button id="alculator-button5" class=" button button-positive  button-block icon ion-ios-flask ">+Drink</button>
            <button id="alculator-button6" style="font-weight:300;font-size:-1px;" class=" button button-positive  button-block icon ion-ios-flask-outline ">+MyDrinks</button>
        </div>
        <ion-list id="alculator-list3" class=" manual-list-fullwidth ">
            <ion-item class="item-avatar  " id="alculator-list-item1">
                <h2>Item</h2>
                <p>Tequila 20% 6/30/16 2:00pm</p>
            </ion-item>
            <ion-item class="item-avatar  " id="alculator-list-item2">
                <h2>Item</h2>
                <p>Beer 20% 6/30/16 2:00pm</p>
            </ion-item>
            <ion-item class="item-avatar  " id="alculator-list-item3">
                <h2>Item</h2>
                <p>Gin 20% 6/30/16 2:00pm</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>